* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-section {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    background-image: url(./images/port-098-copyright1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.bar {
    width: 100%;
    height: 10%;
    /* color: white; */
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 50%;
    height: max-content;

}

.helion {
    width: 150px;
}

.icons {
    width: 200px;
    /* border: 2px solid red; */
    font-size: 28px;
    color: white;
    /* font-weight: bold; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: ; */
}

#font {
    cursor: pointer;
}

.photo-section {
    width: 100%;
    height: max-content;
    /* background-color: green; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
}

.photographer {
    width: 100%;
    height: max-content;
    /* background-color: red; */
    overflow: hidden;

}

.graph {
    width: 100%;
    height: max-content;
    /* background-color: aqua; */
    font-size: 22px;
    font-weight: 700;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transform: translateY(30px);
    animation: up 3s linear forwards;

}

@keyframes up {
    0% {
        transform: translateY(30px);
    }

    20% {
        transform: translateY(30px) scale(1.4);
        visibility: visible;
    }

    25% {
        transform: translateY(0px);

    }

    100% {
        transform: translateY(0px);
    }
}

.unlimited {
    width: 100%;
    height: max-content;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 30px;


}

.op {
    color: white;
    font-size: 84px;
    font-weight: 300;
    font-family: sans-serif;
    transform: translateY(82px);



}

@keyframes upto {
    0% {
        transform: translateY(80px);
    }

    35% {
        transform: translateY(80px);
    }

    51% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }

}

.minus {
    animation: upto 1.5s linear 0.1s forwards;

}

.one {
    animation: upto 1.5s linear 0.2s forwards;

}

.two {
    animation: upto 1.5s linear 0.3s forwards;
}

.three {
    animation: upto 1.5s linear 0.4s forwards;
}

.four {
    animation: upto 1.5s linear 0.5s forwards;
}

.four {
    animation: upto 1.5s linear 0.6s forwards;
}

.five {
    animation: upto 1.5s linear 0.7s forwards;
}

.six {
    animation: upto 1.5s linear 0.8s forwards;
}

.seven {
    animation: upto 1.5s linear 0.9s forwards;
}

.eight {
    animation: upto 1.5s linear 1s forwards;
}

.nine {
    animation: upto 1.5s linear 1.1s forwards;
}

.ten {
    animation: upto 1.5s linear 1.2s forwards;
}

.eleven {
    animation: upto 1.5s linear 1.3s forwards;
}

.tweleve {
    animation: upto 1.5s linear 1.4s forwards;
}

.thirteen {
    animation: upto 1.5s linear 1.5s forwards;
}

.fourteen {
    animation: upto 1.5s linear 1.6s forwards;
}

.fifteen {
    animation: upto 1.5s linear 1.7s forwards;
}

.sixteen {
    animation: upto 1.5s linear 1.8s forwards;
}

.vision {
    width: 100%;
    height: max-content;
    /* background-color: firebrick; */
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.next {
    color: white;
    font-size: 84px;
    font-weight: 300;
    font-family: sans-serif;
    transform: translateY(80px);

}

.point {
    animation: topup 1.5s linear 1.9s forwards;
}

.to {
    animation: topup 1.5s linear 2s forwards;
}

.be {
    animation: topup 1.5s linear 2.1s forwards;
}

.noted {
    animation: topup 1.5s linear 2.2s forwards;
}

.item-1 {
    animation: topup 1.5s linear 2.3s forwards;
}

.item-2 {
    animation: topup 1.5s linear 2.4s forwards;
}

.item-3 {
    animation: topup 1.5s linear 2.5s forwards;
}

.item-4 {
    animation: topup 1.5s linear 2.6s forwards;
}

.item-5 {
    animation: topup 1.5s linear 2.7s forwards;
}

.item-6 {
    animation: topup 1.5s linear 2.8s forwards;
}

.item-7 {
    animation: topup 1.5s linear 2.9s forwards;
}

@keyframes topup {
    0% {
        transform: translateY(80px);
    }

    51% {
        transform: translateY(80px);
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

.mouse-parent {
    width: 100%;
    /* background-color: firebrick; */
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    /* margin: auto; */
}

.animate {
    width: max-content;
    height: max-content;
    /* background-color: black; */
    margin: auto;
    transform: translateY(90px);
    animation: last 1.5s linear 3s forwards;


}

@keyframes last {
    from {
        transform: translateY(90px);
    }

    to {
        transform: translateY(0px);
    }

}

.mouse-img {
    height: 50px;
    /* border: 4px solid blue; */
    width: 27px;
    margin: auto;
}

@keyframes uper {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }

}

.click {
    width: 100%;
    animation: uper 2s linear infinite;
    padding-bottom: 10px;
}

.roll {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.written-section {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.line-text1 {
    width: 90%;
    /* border: 2px solid red; */
    height: max-content;
    display: flex;
    align-items: center;
    transform: translateX(11%);
}

.line {
    width: 70px;
    height: 2px;
    background-color: black;
}

.creative1 {
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    margin-left: 2%;

}

.span {
    width: 90%;
    /* border: 2px solid red; */
    height: max-content;
    transform: translateX(11%);
    padding-top: 20px;
    padding-bottom: 20px;
    /* font-family: LouisGeorgeCafe (woff2) sans-serif; */
}

.para {
    width: 90%;
    height: max-content;
    transform: translateX(11%);
    /* font-size: 2px; */
}

.band {
    color: black;
    font-size: 18px;
    font-weight: 400;
    color: rgb(74, 79, 85);

}

.think {
    font-size: 49.266px;
    font-weight: 700;
}

.section-2 {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 30px;
}

.picture-parent {
    width: 35%;
    height: max-content;
    /* border: 4px solid rebeccapurple; */

}

.line-text {
    width: 100%;
    /* border: 2px solid red; */
    height: max-content;
    display: flex;
    align-items: center;
}

.line {
    width: 70px;
    height: 2px;
    background-color: black;
}

.creative {
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    margin-left: 4%;

}

.image {
    padding-top: 80px;

}

.leafs {
    width: 100%;
}

.leafs-1 {
    width: 80%;
}

.picture-1 {
    width: 35%;
    height: max-content;
    /* border: 4px solid red; */
}

.photo {

    width: 100%;
    padding-bottom: 80px;
    /* border: 2px solid palevioletred; */
}

.shoot {
    width: 100%;
}

.shoot-1 {
    width: 80%;
    margin-left: 20%;

}

.button-section {
    width: 100%;
    height: max-content;
    /* border: 3px solid firebrick; */
}

.now {
    width: max-content;
    height: max-content;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
}

.top {
    width: 220px;
    height: 50px;
    border: none;
    background-color: rgb(233, 51, 20);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 13px;

}

#arrow {
    color: white;
    position: absolute;
    left: 110%;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    /* font-size: 20px; */

}

.now:hover #arrow {
    left: 90%;
    transition: 0.5s;
}

.card-section {
    width: 100%;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

.span-1 {
    width: 90%;
    /* border: 2px solid red; */
    height: max-content;
    transform: translateX(11%);
    padding-top: 20px;
    padding-bottom: 20px;

}

.line-text2 {
    width: 90%;
    /* border: 2px solid red; */
    height: max-content;
    display: flex;
    align-items: center;
    transform: translateX(11%);
}

.line-text1 {
    width: 90%;
    /* border: 2px solid red; */
    height: max-content;
    display: flex;
    align-items: center;
    transform: translateX(11%);
}

.creative2 {
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    margin-left: 2%;
    /* border: 4px solid gold; */
}

.card-parent {
    width: 80%;
    /* background-color: aqua; */
    /* height: 50vh; */
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.first-card {
    width: 30%;
    height: 40vh;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: rgb(188, 189, 190);

}

.second-card {
    width: 30%;
    height: 40vh;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: rgb(188, 189, 190);

}

.third-card {
    width: 30%;
    height: 40vh;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: rgb(188, 189, 190);
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.first-card:hover .new{
    color: white;
}

.card-imgg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;

}

.first-card:hover .card-imgg {
    visibility: visible;
    transition: 0.8s;
    transform: scale(1.2);


}

.second-card:hover .card-imgg {
    visibility: visible;
    transition: 0.8s;
    transform: scale(1.2);

}

.third-card:hover .card-imgg {
    visibility: visible;
    transition: 0.8s;
    transform: scale(1.2);

}

.white-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;

}


.first-card:hover .white-parent {
  
    transition: 0.5s;
    background-color: black;
    opacity: 0.7;
}

.first-card:hover .date {
    color: white;
    transition: 0.5s;
}

.first-card:hover .word {
    transition: 0.5s;
    color: rgb(188, 189, 190);
}

.first-card:hover .new {
    color: white;
    transition: 0.5s;
    /* color: rgb(188,189,190); */
}

.second-card:hover .white-parent {
    color: white;
    transition: 0.5s;
    background-color: black;
    opacity: 0.7;
}

.second-card:hover .date {
    color: white;
    transition: 0.5s;
}

.second-card:hover .word {
    transition: 0.5s;
    color: rgb(188, 189, 190);
}

.second-card:hover .new {
    color: white;
    transition: 0.5s;
    /* color: rgb(188,189,190); */
}

.third-card:hover .white-parent {
    color: white;
    transition: 0.5s;
    background-color: black;
    opacity: 0.7;
}

.third-card:hover .date {
    color: white;
    transition: 0.5s;
}

.third-card:hover .word {
    transition: 0.5s;
    color: rgb(188, 189, 190);
}

.third-card:hover .new {
    color: white;
    transition: 0.5s;
    /* color: rgb(188,189,190); */
}

.new {
    width: 100%;
    /* border: 3px solid firebrick; */
    padding-top: 30px;
    /* padding-bottom: 30px; */
    padding-left: 30px;
    color: rgb(233, 51, 20);
}

.word {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: black;
    font-size: 2vw;
}

.date {
    width: 100%;
    /* border: 3px solid greenyellow; */
    padding-top: 20px;
    padding-left: 30px;
    color: rgb(188, 189, 190);

}

.footer-section {
    width: 100%;
    height: max-content;
    background-color: rgb(26, 26, 31);
    /* padding: 1px; */
    padding-top: 100px;
    padding-bottom: 200px;
}

.foot-texts {
    width: 80%;
    height: max-content;
    /* border: 2px solid gray; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.helo {
    width: 10%;
    height: auto;
}

.lylo {
    width: 100%;
}

.office-text {
    width: 20%;
    /* border: 2px solid red; */
}

.pofice {
    color: white;

}

.sun {
    color: gray;
    padding-top: 40px;
    padding-bottom: 15px;
}

.nmbr {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.links-ul {
    width: 20%;
    height: max-content;
    /* border: 2px solid rebeccapurple; */
    list-style: none;
}

.ink {
    color: white;
}

.moon {
    color: gray;
    font-size: 18px;
    padding-top: 14px;
    /* padding-top: 10px; */
}

.social {
    width: 20%;

}

.school {
    color: white;
    padding-bottom: 30px;
}

.theme {
    width: 100%;
    height: max-content;
    /* border: 3px solid salmon; */
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot-line {
    width: 80%;
    border-bottom: 2px solid gray;
    margin: auto;
    padding-top: 10%;
}






/* ...........................................////////////////////// */



@media screen and (max-width:790px) {
    .foot-texts {
        flex-direction: column;
        justify-content: flex-start;

    }

    .office-text {
        width: 100%;
    }

    .link-ul {
        width: 100%;
    }

    .social {
        width: 100%;
    }
}


@media screen and (max-width:771px) {
    .span-1 {
        width: 60%;
        margin: auto;
    }

    .line-text2 {
        width: 60%;
        margin: auto;
    }

    .op {
        font-size: 60px;
    }

    .next {
        font-size: 60px;
    }

    .card-parent {
        width: 50%;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }

    .first-card {
        width: 100%;
        height: 37vh;

    }

    .second-card {
        width: 100%;
        height: 37vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .third-card {
        width: 100%;
        height: 37vh;

    }

    .secon-parent {
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .word {
        font-size: 25px;
    }

    .written-section {
        width: 70%;
        margin: auto;
    }

    .line-text1 {
        width: 100%;
        transform: translateX(0%);
    }

    .span {
        /* font-size: 25px; */
        width: 100%;
        transform: translateX(0%);
    }

    .think {
        font-size: 30px;
    }

    .para {
        width: 100%;
        transform: translateX(0%);
    }

    .section-2 {
        width: 100%;
        flex-direction: column;


    }

    .picture-parent {
        width: 70%;
        margin: auto;
        /* padding-top: 10px; */
    }

    .leafs-1 {
        width: 100%;
    }

    .image {
        padding-top: 20px;
    }

    .picture-1 {
        width: 70%;
        margin: auto;
    }

    .shoot-1 {
        width: 100%;
        margin-left: 0;
    }

    .photo {
        padding-bottom: 0px;
        padding-top: 20px;
    }

}

@media screen and (max-width:758px) {
    .op {
        font-size: 50px;
    }

    .next {
        font-size: 50px;
    }
}


@media screen and (max-width:511px) {
    .op {
        font-size: 45px;
    }

    .next {
        font-size: 45px;
    }

    .icons {
        width: 40%;
    }

    .helion {
        width: 120px;
    }

    .card-parent {
        width: 70%;
    }
}

@media screen and (max-width:440px) {
    .op {
        font-size: 35px;
    }

    .next {
        font-size: 35px;
    }
}

@media screen and (max-width:375px) {
    .card-parent {
        width: 80%;
    }

    .op {
        font-size: 30px;
    }

    .next {
        font-size: 30px;
    }
}